.projects {
    .posts {
        /* stylelint-disable declaration-block-no-redundant-longhand-properties */
        align-content: stretch;
        align-items: stretch;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 2px;
        text-align: center;
        /* stylelint-enable */
        .post {
            display: inline-block;
            margin: 2px;
            outline: solid 1px $alto;
            width: calc((100% / 6) - 4px);

            @include breakpoint (extra-large, max) {
                width: calc((100% / 5) - 4px);
            }

            @include breakpoint (large, max) {
                width: calc((100% / 4) - 4px);
            }

            @include breakpoint (medium, max) {
                width: calc((100% / 3) - 4px);
            }

            @include breakpoint (small, max) {
                width: calc((100% / 2) - 4px);
            }

            @include breakpoint (extra-small, max) {
                width: calc((100% / 2) - 4px);
            }

            a {
                display: block;
                position: relative;

                img {
                    display: block;
                    width: 100%;
                }

                .meta {
                    @include opacity (0);
                    @include position (absolute, 0, 0, 0, 0);
                    align-items: center;
                    background-color: rgba($black, .85);
                    display: flex;
                    justify-content: center;
                    padding: 0 15px;
                    transition: opacity .3s ease-out;

                    label {
                        color: $white;
                        font-size: 16px;
                        line-height: 20px;
                    }
                }

                &:hover {
                    .meta {
                        @include opacity (1);
                    }
                }
            }
        }
    }
}

.project {
    .trailer {
        margin: 0 auto;
        width: 80%;

        @include breakpoint (small, max) {
            width: 90%;
        }
    }

    .videoWrapper {
        height: 0;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        position: relative;

        iframe {
            @include position (absolute, 0, 0, 0, 0);
            height: 100%;
            width: 100%;
        }
    }

    h1 {
        margin-left: 30px;
        margin-top: 40px;
    }

    .details {
        /* stylelint-disable declaration-block-no-redundant-longhand-properties */
        align-content: stretch;
        align-items: flex-start;
        border-top: solid 1px $alto;
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin: 40px 0 0;
        padding: 40px 20px 0;
        /* stylelint-enable */
        @include breakpoint (small, max) {
            margin: 20px 0 0;
            padding: 20px 10px 0;
        }

        .posters,
        .meta {
            vertical-align: top;
        }

        .posters {
            align-self: auto;
            flex: 0 1 calc(40% - 20px);
            order: 0;
            padding: 0 20px 0 0;
            white-space: nowrap;
        }

        .meta {
            align-self: auto;
            display: inline-block;
            flex: 1 1 auto;
            padding: 0 0 0 20px;

            h3 {
                text-transform: capitalize;
            }

            ul:not(.genre-list) {
                line-height: 1.5;
                margin-top: 0;
            }

            .genre-list {
                li {
                    margin: 0 0 6px;
                }

                &.genre-list {
                    margin: 0 0 20px;

                    li {
                        margin: 0 10px 6px 0;
                    }
                }
            }

            .footer {
                border-top: solid 1px $alto;
                padding: 20px 0 0;

                .imdb-link {
                    display: inline-block;
                    width: 75px;
                }
            }
        }

        @include breakpoint (medium, max) {
            flex-direction: column;

            .posters {
                order: 1;
                padding: 20px 0 0;
            }

            .meta {
                padding: 0;
                width: 100%;
            }
        }
    }
}
