# OS
.DS_Store
.tmp
profile

# ide
.idea
.iml

node_modules
build
npm-debug.log

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS

# editors
.*.swp
.*.swo

# This repo
_site/
.sass-cache
.jekyll-metadata
.jekyll-cache
