@import '~normalize.css/normalize';

html,
body,
#app {
    height: 100%;
}

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 0 !important;
    overflow-x: hidden;
    padding: 0;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-touch-callout: none;
}

body {
    color: $base-font-color;
    font-family: $sans-serif-font;
    font-size: 16px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none !important;
    -webkit-user-drag: none;

    .content-skip {
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        margin: 0;
        overflow: hidden;
        position: absolute;
        width: 1px;
    }

    // @include breakpoint (extra-small, min) {
    //     border: solid 10px red;
    // }

    // @include breakpoint (small, min) {
    //     border: solid 10px blue;
    // }

    // @include breakpoint (medium, min) {
    //     border: solid 10px green;
    // }

    // @include breakpoint (large, min) {
    //     border: solid 10px purple;
    // }

    // @include breakpoint (extra-large, min) {
    //     border: solid 10px gold;
    // }
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 0;

    &.scrolling-up {
        margin-top: 120px;

        nav {
            @include transition-animation (transform, 250ms, ease-in, 0ms);
            @include position (fixed, -120px, 0, auto, 0);
            @include transform (translateY(120px));
        }
    }

    &.scrolling-down {
        margin-top: 120px;

        nav {
            @include transition-animation (transform, 250ms, ease-in, 0ms);
            @include position (fixed, -120px, 0, auto, 0);
            @include transform (translateY(0));
        }
    }
}

.svg-icon {
    display: inline-block;
    height: 1em;
    width: 1em;
}

.fullbleed + .social-media-link-list {
    @include position (absolute, auto, 8px, 30px, auto);
    list-style: none;
    margin: 0;
    padding: 0;

    @include breakpoint (small, max) {
        @include position (absolute, auto, 8px, 32px, 8px);
        text-align: center;
    }

    li {
        display: inline-block;
        margin: 0 8px 0 0;
        vertical-align: middle;

        a {
            @include transition-animation (opacity, 200ms, ease-in,  0ms);
            color: rgba($white, .7);
            display: block;

            &:hover {
                @include opacity (.75);
            }

            &.imdb-link {
                width: 45px;
            }

            &.facebook-link {
                width: 21px;
            }

            &.linkedin-link,
            &.vimeo-link {
                width: 23px;
            }

            &.twitter-link {
                width: 25px;
            }
        }
    }
}
