@import '~normalize.css/normalize';

html,
body,
#app {
    height: 100%;
}

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 0 !important;
    overflow-x: hidden;
    padding: 0;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-touch-callout: none;
}

body {
    color: $base-font-color;
    font-family: $sans-serif-font;
    font-size: 16px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none !important;
    -webkit-user-drag: none;

    @include breakpoint (small, max) {
        font-size: 15px;
    }

    // @include breakpoint (extra-small, min) {
    //     border: solid 10px red;
    // }

    // @include breakpoint (small, min) {
    //     border: solid 10px blue;
    // }

    // @include breakpoint (medium, min) {
    //     border: solid 10px green;
    // }

    // @include breakpoint (large, min) {
    //     border: solid 10px purple;
    // }

    // @include breakpoint (extra-large, min) {
    //     border: solid 10px gold;
    // }
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.svg-icon {
    display: inline-block;
    height: 1em;
    width: 1em;
}
