/* stylelint-disable color-no-hex, value-keyword-case, scale-unlimited/declaration-strict-value */
$serif-font: Cambria,Georgia,'Times New Roman',Times,serif;
$sans-serif-font: -apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
$monospace-font: courier new, Courier, monospace;

$zero: 0;
$alto: #ddd;
$base-font-color: #000;
$black: #000;
$emperor: #555;
$gray-headline: #656565;
$header-background: $base-font-color;
$nli-yellow: #fcde3d;
$palmstar-blue: #183b6d;
$facebook-blue: #3b5998;
$twitter-blue: #1da1f2;
$linkedin-blue: #0077b5;
$vimeo-blue: #1ab7ea;
$imdb-yellow: #e6b91e;
$palmstar-dark-blue: #213863;
$silver: #ccc;
$white: #fff;

$font-size-max-input: 54px;
$font-size-extralarge: 44px;
$font-size-large: 36px;
$font-size-mediumlarge: 30px;
$font-size-medium: 24px;
$font-size-small: 18px;
$font-size-text: 16px;
$font-size-extrasmall: 13px;
$font-size-button: 12px;

$z-index-negative: -1;
$z-index-base: 1;
$z-index-base-middle: 2;
$z-index-base-top: 3;
$z-index-base-max: 4;
$z-index-max: 10000;

$breakpoints: (
    'extra-small': 400px,
    'small': 544px,
    'medium': 768px,
    'large': 992px,
    'extra-large': 1200px
);

@mixin animate ($name, $duration, $function, $delay, $iteration, $direction, $mode) {
    -webkit-animation: $name $duration $function $delay $iteration $direction $mode;
    animation: $name $duration $function $delay $iteration $direction $mode;
}

@mixin breakpoint ($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

@mixin image-insert-icon ($imgtouse, $height: 20px, $width: 20px, $img-position: 0 0) {
    background: url('#{$imgtouse}') #{$img-position} no-repeat;
    display: block;
    height: $height;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: $width;
}

@mixin keyframe ($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }

    @-moz-keyframes #{$animation-name} {
        @content;
    }

    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin opacity ($value: 1) {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=' $value * 100 ')';
    filter: alpha(opacity = $value * 100);
    opacity: $value;
    zoom: 1;
}

@mixin position ($positioning, $top, $right, $bottom, $left) {
    bottom: $bottom;
    left: $left;
    position: $positioning;
    right: $right;
    top: $top;
}

@mixin transform ($properties) {
    -ms-transform: $properties;
    -webkit-transform: $properties;
    transform: $properties;
}

@mixin transition-animation ($prop, $time, $ease, $delay) {
    -moz-transition: $prop $time $ease $delay;
    -ms-transition: $prop $time $ease $delay;
    -o-transition: $prop $time $ease $delay;
    -webkit-transition: $prop $time $ease $delay;
    transition: $prop $time $ease $delay;
}

@mixin text-truncate ($display) {
    display: $display;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* stylelint-enable */
