{%- assign totalFeatured = 5 -%}
<div class="fullbleed" v-featured-keypress="{active: 1, total: {{totalFeatured}}}">
    {%- for counter in (1..totalFeatured) -%}
    <input type="radio" name="featured" id="featured{{ counter }}" {%- if counter == 1 -%}checked="checked"{%- endif -%} class="featured__nav"/>
    {%- endfor -%}
    <div class="featured__inner">
        {%- assign sorted = site.posts | reverse -%}
        {%- for post in sorted -%}
        {%- if post.id == '/projects/2018/06/08/hereditary' or post.id == '/projects/2018/07/01/the-catcher-was-a-spy' -%}
        <div class="feature">
            <img src="{{ post.hero }}" />
            <div class="meta">
                <a href="{{ post.url }}" title="{{ post.title }}">
                    <h1>
                        {{ post.title }}
                    </h1>
                    {%- if post.director -%}
                    <span>
                        Directed by {{ post.director | join: ', ' }} <small>({{post.date | date: "%Y"}})</small>
                    </span>
                    {%- endif -%}
                </a>
            </div>
        </div>
        {%- endif -%}
        {%- endfor -%}
        <div class="feature">
            <img src="assets/images/hero/lampoon-hero.jpg" />
            <div class="meta">
                <h1>
                    PalmStar Acquires<br>National Lampoon
                </h1>
                <span>
                    June 2017
                </span>
            </div>
        </div>
        {%- assign sorted = site.posts -%}
        {%- for post in sorted -%}
        {%- if post.id == '/projects/2016/12/16/collateral-beauty' or post.id == '/projects/2016/03/17/sing-street' -%}
        <div class="feature">
            <img src="{{ post.hero }}" />
            <div class="meta">
                <a href="{{ post.url }}" title="{{ post.title }}">
                    <h1>
                        {{ post.title }}
                    </h1>
                    {%- if post.director -%}
                    <span>
                        Directed by {{ post.director | join: ', ' }} <small>({{post.date | date: "%Y"}})</small>
                    </span>
                    {%- endif -%}
                </a>
            </div>
        </div>
        {%- endif -%}
        {%- endfor -%}
    </div>
    <div class="featured-prev-next-control">
        {%- for counter in (1..totalFeatured) -%}
        <div class="arrows arrows{{ counter }}">
            <label for="{% if counter == 1 %}featured{{ totalFeatured }}{% else %}featured{{ counter | minus: 1 }}{% endif %}">
                <icon name="arrow-left"></icon>
            </label>
            <label for="{% if counter == totalFeatured %}featured1{% else %}featured{{ counter | plus: 1 }}{% endif %}">
                <icon name="arrow-right"></icon>
            </label>
        </div>
        {%- endfor -%}
    </div>
    <div class="featured-dot-control">
        {%- for counter in (1..totalFeatured) -%}
        <label for=featured{{ counter }}></label>
        {%- endfor -%}
    </div>
</div>
