<div class="posters">
    <div class="slider">
        {%- for poster in page.posters -%}
        {%- assign totalPosters = forloop.length -%}
        <input type="radio" name="slider" id="slide{{ forloop.index }}"{% if forloop.index == 1 %} checked="checked"{% endif %} class="slider__nav"/>
        {%- endfor -%}
        <div class="slider__inner">
            {%- for poster in page.posters -%}
            <img src="{{poster}}" alt="{{page.title}}" />
            {%- endfor -%}
        </div>
        {%- if totalPosters > 1 -%}
        <div class="slider-prev-next-control">
            {%- for poster in page.posters -%}
            <div class="arrows arrows{{ forloop.index }}">
                <label for="{% if forloop.index == 1 %}slide{{ totalPosters }}{% else %}slide{{ forloop.index | minus: 1 }}{% endif %}" role="button">
                    <icon name="arrow-left"></icon>
                </label>
                <label for="{% if forloop.index == totalPosters %}slide1{% else %}slide{{ forloop.index | plus: 1 }}{% endif %}" role="button">
                    <icon name="arrow-right"></icon>
                </label>
            </div>
            {%- endfor -%}
        </div>
        <div class="slider-dot-control">
            {%- for poster in page.posters -%}
            <label for=slide{{ forloop.index }} role="button"></label>
            {%- endfor -%}
        </div>
        {%- endif -%}
    </div>
</div>
