<ul class="social-media-link-list">
    <li>
        <a class="imdb-link" href="http://www.imdb.com/company/co0037203/" title="View our IMDB Page">
            <icon name="{%- if include.color -%}imdb-color{%- else -%}imdb{%- endif -%}"></icon>
        </a>
    </li>
    <li>
        <a class="facebook-link" href="https://www.facebook.com/PalmStarMedia/" title="Like us on Facebook">
            <icon name="facebook"></icon>
        </a>
    </li>
    <li>
        <a class="linkedin-link" href="https://www.linkedin.com/company/palmstarmedia/" title="See us on LinkedIn">
            <icon name="linkedin"></icon>
        </a>
    </li>
    <li>
        <a class="twitter-link" href="https://twitter.com/PalmStar" title="View our Tweets">
            <icon name="twitter"></icon>
        </a>
    </li>
</ul>
